body {
  font-family: "Lato", sans-serif;
  background: url("https://source.unsplash.com/G8rRItjrwkA") no-repeat center
    center fixed;
  background-size: cover;
  color: #0a0a0b;
}

ul,
nav {
  list-style: none;
}

a {
  text-decoration: none;
  color: #fff;
  cursor: pointer;
  opacity: 0.9;
}

a:hover {
  opacity: 1;
}

h1 {
  font-size: 3rem;
  font-weight: 700;
  color: #fff;
  margin: 0 0 1.5rem;
  text-align: center;
}

i {
  font-size: 1.3rem;
  margin: 0 5px;
}

header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
}

header nav ul {
  display: flex;
}

header nav li {
  margin: 0 15px;
  cursor: pointer;
}

a.btn {
  border: 1px solid rgba(255, 255, 255, 0.5);
  background: none;
  color: #fff;
  padding: 10px;
  transition: all ease-in-out 0.3s;
}

a.btn:hover {
  background-color: #d73851;
  border: 1px solid #d73851;
}

.cover {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px 50px;
  font-size: 14px;
  margin-top: 100px;
}
form {
  width: 700px;
}

input[type="search"] {
  width: 70%;
}

input[type="submit"] {
  color: #fff;
  border: 1px solid #ef3f5a;
  background-color: #ef3f5a;
  cursor: pointer;
  transition: all ease-in-out 0.4s;
  width: 20%;
}

input[type="submit"]:hover {
  background-color: #d73851;
  border: 1px solid #d73851;
}

input {
  padding: 20px 10px;
  margin: 0;
}

footer {
  color: #fff;
  margin: 10px;
}
